{% extends 'admin/base.html' %}

{% block content %}
<div class="report">
    <h1>My Report</h1>
    <form method="get" action="{% url 'product_report' %}">
        <label for="title">Назва:</label>
        <input type="text" name="title" value="{{ request.GET.title }}">

        <label for="price">Ціна:</label>
        <input type="text" name="price" value="{{ request.GET.price }}">

        <label for="category">Категорія:</label>
        <input type="text" name="category" value="{{ request.GET.category }}">

        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Ціна</th>
                <th>Категорія</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in data %}
            <tr>
                <td>{{ obj.title }}</td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.category }}</td>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div>
        Сумма товарів: {{ price_sum }}
    </div>
</div>
{% endblock %}
