{% extends 'base.html' %}

{% block content %}
    <h2>Вхід</h2>
    <hr>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
    {{ form }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Вхід</button>
    </form>

    <a href="{% url 'password_reset' %}">Відновити пароль?</a>
{% endblock %}