{% extends 'base.html' %}

{% block content %}
    <h1>Зміна пароля</h1>
    <hr>
    <form action="{% url 'password_reset' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
    <button type="submit">Змінити пароль</button>
    </form>
{% endblock %}
