<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Your Beauty Club</title>
        <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
               <!-- Core theme CSS (includes Bootstrap)-->
               <!--        <link href="css/styles.css" rel="stylesheet" />-->
    </head>
    <style>
        body {
          padding-top: 56px;
        }
    </style>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'base' %}">Your Beauty Club</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart' %}">Кошик <span class="badge badge-pill badge-danger">{{ cart.products.count }}  </span></a>
                        </li>
                        <li class="last">
                            <a class="text-white" href="">Вітаємо {{ user.username|default:'Гість' }}   </a>
                        </li>
                        <li class="last">
                            {% if user.is_authenticated %}
                            <a class="text-white" href="{% url 'logout' %}">Вийти</a>
                            {% else %}
                            <a class="text-white" href="{% url 'login' %}">Війти</a> | <a class="text-white" href="{% url 'register' %}">Реєстрація</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="my-4">Your Beauty Club</h1>
                    <div class="list-group">
                        {% for category in categories %}
                        <a class="list-group-item" href="{{ category.url }}">{{ category.name }} ({{category.count}})</a>
                        {% endfor %}
                    </div>
                    {% block sidebar %}{% endblock sidebar %}
                </div>
                <div class="col-lg-9">
                    {% block content %}
                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>{{ message }}</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      {% endfor %}
                    {% endif %}
                    <div class="carousel slide my-4" id="carouselExampleIndicators" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><img class="d-block img-fluid" src="./media/a6a804_9f4ad37943284e3bb6a475f7aa2ea8e3_mv2.webp" alt="First slide" /></div>
                            <div class="carousel-item"><img class="d-block img-fluid" src="./media/a6a804_a0ae7e6b14484ba98c0004c8ad1e4e9e_mv2.webp" alt="Second slide" /></div>
                            <div class="carousel-item"><img class="d-block img-fluid" src="./media/V421262.jpg" alt="Third slide" /></div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""/></a>
                              <div class="card-body">
                                <h4 class="card-title">
                                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                </h4>
                                <h5>{{ product.price }} грн.</h5>
                                  <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                                      <button class="btn btn-danger">Додати до кошику</button>
                                  </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endblock content %}
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
              <!-- Core theme JS-->
              <!--        <script src="js/scripts.js"></script>-->
    </body>
</html>
