{% extends 'base.html' %}


{% block content %}
<h3 class="text-center mt-5 mb-5">Ваш кошик {% if not cart.products.count %}порожній{% endif %}</h3>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}
{% if cart.products.count %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Найменування</th>
      <th scope="col">Зображення</th>
      <th scope="col">Ціна</th>
      <th scope="col">Кількість</th>
      <th scope="col">Загальна сума</th>
      <th scope="col">Дія</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
      <tr>
        <th scope="row">{{ item.content_object.title }}</th>
        <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
        <td>{{ item.content_object.price }} грн.</td>
        {% csrf_token %}
        <td>{{ item.qty }}</td>
        <td>{{ item.final_price }} грн.</td>
        <td>
          <a href="{% url 'delete_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-danger">Видалити з кошику</button></a>
        </td>
      </tr>
    {% endfor %}
      <tr>
        <td colspan="2"></td>
        <td>Всього:</td>
        <td>{{ cart.total_products }}</td>
        <td><strong>{{ cart.final_price }} грн.</strong></td>
        <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Перейти до оформлення</button></a></td>
      </tr>
  </tbody>
</table>
{% endif %}

{% endblock content %}