{% extends 'base.html' %}

<button type="submit">Знайти</button>
{% block sidebar %}
<form action="{% url 'category_detail' slug=category.slug %}" method="get" name="filter">
    <div class="left-side">
    <h3 class="sear-head editContent">Фільтр</h3>
        <ul class="w3layouts-box-list">
            {% if category.slug == 'accessories' %}
                <h6>Тип аксесуару</h6>
                {% for product in category_products %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="type_accessories" value="{{ product.type_accessories }}">
                    <span class="span editContent">{{ product.type_accessories }}</span>
                </li>
                {% endfor %}
            {% elif category.slug == 'cosmetics' %}
                <h6>Тип косметики</h6>
                {% for product in category_products %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="type_cosmetics" value="{{ product.type_cosmetics }}">
                    <span class="span editContent">{{ product.type_cosmetics }}</span>
                </li>
                {% endfor %}
            {% else %}
                <h6>Тип білизни</h6>
                {% for product in category_products %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="type_whiteness" value="{{ product.type_whiteness }}">
                    <span class="span editContent">{{ product.type_whiteness }}</span>
                </li>
                {% endfor %}
                <h6>Розмір білизни</h6>
                {% for product in category_products %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="size" value="{{ product.size }}">
                    <span class="span editContent">{{ product.size }}</span>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <button type="submit">Знайти</button>
</form>
{% endblock sidebar %}
{% block content %}

<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Головна</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
    </ol>
</nav>

<div class="row">
{% for product in category_products %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""/></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </h4>
            <h5>{{ product.price }} грн.</h5>
            <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                <button class="btn btn-danger">Додати до кошику</button>
            </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}