<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Тип косметики</td>
      <td>{{ product.type_cosmetics }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>