{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Головна</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ product.title }}</h3>
        <p>Ціна: {{ product.price }} грн.</p>
        <p>Опис: {{ product.description }}</p>
        <p>Бренд: {{ product.producer }}</p>
        <p>Країна виробництва: {{ product.country }}</p>
        <hr>
        <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}">
            <button class="btn btn-danger">Додати до кошику</button>
        </a>
    </div>
    {% if product.category.slug == 'cosmetics' %}
        {% include 'cosmetics_specification.html' %}
    {% elif product.category.slug == 'whiteness' %}
        {% include 'whiteness_specification.html' %}
    {% else %}
        {% include 'accessories_specification.html' %}
    {% endif %}
</div>


{% endblock content %}
