
<div class="left-side">
    <h3 class="sear-head editContent">Фільтр</h3>
    <ul class="w3layouts-box-list">
        {% if category.slug == 'accessories' %}
        {% for product in category_products %}
            <li class="editContent">
                <input type="checkbox" class="checked" name="type" value="{{ category.url }}">
                <span class="span editContent">{{ product.type_accessories }}</span>
            </li>
        {% endfor %}
        {% endif %}
    </ul>
    <button type="submit">Найти</button>
</div>